@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600&display=swap');

.secPrincipal {
    height: 100vh;
    background-color: #1E213A;
}

.boton_Ubicacion {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    margin: 0 4vw;
}

.imgContainer {
    background-color: #6E707A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.botonSearch {
    border: none;
    color: #E7E7EB;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    height: 40px;
    width: 161px;
    background: #6E707A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.clouds {
    position: relative;
    height: 40vh;
    width: 100vw;
    background-image: url('/weather-app-master/Cloud-background.png');
    opacity: 0.1;
    background-size: 150% auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weaImg{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 15vh;
}
.info {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-evenly;
}

.info h3 {
    font-size: 36px;
    font-weight: 600;
    color: #A09FB1;
}

.info span {
    color: #88869D;
    font-size: 18px;
    font-weight: 500;
}

.temp {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.temp h1 {
    color: #E7E7EB;
    font-size: 144px;
    font-weight: 500;
}

.temp p {
    color: #A09FB1;
    font-weight: 500;
    font-size: 60px;
}

.location {
    display: flex;
    align-items: center;
}

.location span {
    color: #88869D;
    font-size: 18px;
    font-weight: 600;
}
/* ---------------------------SectionPrincipal-^---------------------------- */

.secCards{
    height: 100vh;
    background-color: #100E1D;
}

/* ----------------------------Section High ^------------------------------- */

.secHigh{
    height: 100vh;
    background-color: #100E1D;
}
.secHigh h4{
    color: #E7E7EB;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 2vh;
    margin-left: 4vw;
}